<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>kangaroo</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load static %}
    <link rel="apple-touch-icon" href="{% static 'dashboard/apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'dashboard/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/scss/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
    {% block content %}
    {% if user.is_superuser or user.is_staff %}
    {% if user.is_superuser %}
    {% include "dashboard/medecin/dashboard.html" %}
        {% elif user.is_staff %}
                {% include "dashboard/infirmier/dashboard.html" %}

            {% endif %}

    <div id="right-panel" class="right-panel">

       {% include "dashboard/head.html" %}
        <div class="breadcrumbs">
            <div class="col-sm-4">
               <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Les rendez-vous  de la journée</h1>
                    </div>
                </div>
            </div>
          </div>

          <div class="breadcrumbs">
            {%if rendez_vous_interne_journee%}
                {%for rendez_vous in rendez_vous_interne_journee %}
            <div class="col-lg-4 col-md-6">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-dark">
                            <div class="media">
                                <a href="#">
                                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="{% static 'dashboard/images/enfant.jpg' %}">
                                </a>
                                <div class="media-body">
                                    <h2 class="text-light display-6">{{rendez_vous.patient.nom_patient}}</h2>
                                    <p>{{rendez_vous.patient.prenom_patient}}</p>
                                </div>
                            </div>
                        </div>


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                 <i class="fa fa-phone"></i> {{rendez_vous.patient.num_telephone_parent}}
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-home"></i> {{rendez_vous.patient.adr_patient}}
                            </li>
                            <li class="list-group-item">
                            <img src="{% static 'dashboard/images/gender.png' %}"> {{rendez_vous.patient.sexe_patient}}
                            </li>
                            <li class="list-group-item">
                             <i class="fa fa-comments-o"></i> {{rendez_vous.motif}}
                            </li>
                            <li class="list-group-item p-0">
                              <a class="btn-primary col-12 m-0" name="button" href="{% url "patient" rendez_vous.patient.id %}" >Dossier</a>
                            </li>
                        </ul>
                    </section>
                </aside>
            </div>
            {% endfor %}

            {% endif %}


            {% if rendez_vous_externe_journee %}
                            {% for rendez_vous in rendez_vous_externe_journee %}
                            <div class="col-lg-4 col-md-6">
                                <aside class="profile-nav alt">
                                    <section class="card">
                                        <div class="card-header user-header alt bg-dark">
                                            <div class="media">
                                                <a href="#">
                                                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="{% static 'dashboard/images/enfant.jpg' %}">
                                                </a>
                                                <div class="media-body">
                                                    <h2 class="text-light display-6">{{rendez_vous.nom}}</h2>
                                                    <p>{{rendez_vous.prenom}}</p>
                                                </div>
                                            </div>
                                        </div>


                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                 <i class="fa fa-phone"></i> {{rendez_vous.num_telephone}}
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-home"></i> {{rendez_vous.adr}}
                                            </li>
                                            <li class="list-group-item">
                                            <img src="{% static 'dashboard/images/gender.png' %}"> {{rendez_vous.sexe}}
                                            </li>
                                            <li class="list-group-item">
                                             <i class="fa fa-comments-o"></i> {{rendez_vous.motif}}
                                            </li>
                                            <li class="list-group-item p-0">
                                              <a  class="btn-primary col-12 m-0 " href="{% url "cree_patient" %}" >Ajouter patient</a>
                                            </li>
                                        </ul>

                                    </section>
                                </aside>
                            </div>

                            {% endfor %}

                            {% endif %}



      </div>


</div>
        {% else %}
          {% include "dashboard/error.html" %}
    {% endif %}
    {% endblock %}

    <script src="{% static 'dashboard/assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/plugins.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/main.js' %}"></script>
    <!--  flot-chart js -->
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/excanvas.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.time.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/curvedLines.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/flot-chart/flot-chart-init.js' %}"></script>
</body>

</html>