<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>kangaroo</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
<link rel="apple-touch-icon" href="{% static 'dashboard/apple-icon.png' %}">
<link rel="shortcut icon" href="{% static 'dashboard/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'dashboard/assets/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/assets/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/assets/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/assets/css/flag-icon.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/assets/css/cs-skin-elastic.css' %}">
<!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
<link rel="stylesheet" href="{% static 'dashboard/assets/scss/style.css' %}">
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

   <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->


</head>
<body>
        <!-- Left Panel -->
    {% if user.is_superuser %}

       {% include "dashboard/medecin/dashboard.html" %}

    <div id="right-panel" class="right-panel">



    {% include "dashboard/head.html" %}

                              <div class="col-lg-12">
                                  <div class="card">
                                      <div class="card-header">
                                            <h2 class="text-light display-6">prendre un rendez-vous a une personne</h2>
                                      </div>
                                         <form action="{% url "contact" %}" method="post">
                                              {% csrf_token %}
                                                {% load widget_tweaks %}
                                             <div class="form-group">
                                  <label class=" form-control-label">Date input</label>
                                    <div class="input-group">
                                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    {% render_field form.date_pub %}
                              </div>
                              <small class="form-text text-muted">ex. 99/99/9999</small>
                          </div>
                          <div class="form-group">
                              <label class=" form-control-label">Nom</label>
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="ti ti-info"></i></div>
                                        {% render_field form.nom %}
                              </div>
                              <small class="form-text text-muted">hichem</small>
                          </div>
                          <div class="form-group">
                              <label class=" form-control-label">Prenom</label>
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="ti ti-info"></i></div>
                                  {% render_field form.prenom %}
                              </div>
                              <small class="form-text text-muted">zekri</small>
                          </div>
                          <div class="form-group">
                              <label class=" form-control-label">Phone input</label>
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                  {% render_field form.num_telephone %}
                              </div>
                              <small class="form-text text-muted">ex. (999) 999-9999</small>
                          </div>

                          <div class="form-group">
                              <label class=" form-control-label">motif du rendez-vous</label>
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="ti ti-write"></i></div>
                                  {% render_field form.motif %}
                              </div>
                              <small class="form-text text-muted">maladie tres grave</small>
                          </div>






  <div class="card-footer">
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      <i class="fa fa-dot-circle-o"></i> Submit
    </button>

  </div>
</form>


                                  <!-- /# card -->
                              </div>
                              </div>


          </div>
        {% else %}
          {% include "dashboard/error.html" %}
    {% endif %}

<script src="{% static 'dashboard/assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/popper.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/plugins.js' %}"></script>
<script src="{% static 'dashboard/assets/js/main.js' %}"></script>

<!--  flot-chart js -->
<script src="{% static 'dashboard/assets/js/lib/flot-chart/excanvas.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.js' %}"></script>
<script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.pie.js' %}"></script>
<script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.time.js' %}"></script>
<script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.stack.js' %}"></script>
<script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.resize.js' %}"></script>
<script src="{% static 'dashboard/assets/js/lib/flot-chart/jquery.flot.crosshair.js' %}"></script>
<script src="{% static 'dashboard/assets/js/lib/flot-chart/curvedLines.js' %}"></script>
<script src="{% static 'dashboard/assets/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/lib/flot-chart/flot-chart-init.js' %}"></script>





      </body>
</html>
